.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.BotCollection {
  width: 30%;
  margin-right: 20px;
}

.BotProfile {
  width: 30%;
  margin-right: 20px;
}

.YourBotArmy {
  width: 30%;
}
